version: '3'
services:
  ros2bridge_service:
    build:
      context: .
    image: elaina/ros2_bridge_image
    container_name: ros2_bridge_docker
    environment:
      - DISPLAY=${DISPLAY}
      # - NVIDIA_VISIBLE_DEVICES=all
      # - NVIDIA_DRIVER_CAPABILITIES=all
      # - OMP_WAIT_POLICY=passive
      # - TERM=xterm-256color
    volumes:
      - $HOME/.Xauthority:/root/.Xauthority # 使用绝对路径
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./../..:/home/Elaina/docker
      # - /dev:/dev
    network_mode: host
    pid: "host" # 添加 pid 命名空间共享
    ipc: "host" # 添加 ipc 命名空间共享    

    command: bash -c "source ~/docker/rosbridge/ros-humble-ros1-bridge/install/setup.bash && ros2 run ros1_bridge dynamic_bridge --bridge-all-topics"
    privileged: true
    stdin_open: true
    tty: true
    user: "Elaina"
    # runtime: "nvidia"
    #command: [ "/bin/bash", "-l", "-c", "/home/Elaina/docker/rosbridge/start.bash" ]
    working_dir: "/home/Elaina/docker/rosbridge" # 指定默认工作目录
